<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "edu.iupui.cs.pegasus.madlib300"
        version   = "1.0.0">

    <name>Mad Lib Lab</name>

    <description>
        This file creates a MadLib once accepting a name, verb, and noun from the user.
    </description>

    <author  email="kabruhn@iupui.edu">
        Kyle Bruhn
    </author>

    <gap:platform name="android" />

    <icon src="icon.png" />
    